* {
    box-sizing: border-box;
}
body {
    background-color: #EAEAEA;
    color: #070707;
    font-family: Arial, Helvetica, sans-serif;
}
#wrapper {
    background-color: #90C7E3;
    background-image: linear-gradient(to bottom, #FFFFFF, #90C7E3);
}
header {
    background-color: #638bea;
    color: #FFFFFF;
    text-align: center;
}

header a {
    text-decoration: none;
}

header a:link {
    color: #FFFFFF;
}

header a:visited {
    color: #FFFFFF;
}

header a:hover {
    color: #90c7e3;
}

nav {
    text-align: center;
    font-weight: bold;
    padding: 0;
    font-size: 120%;
}

nav li {
    border-bottom: 1px sold #000033;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    font-size: 1.2em;
}

nav a:link {
    color: #000000;
}

nav a:visited {
    color: #811a1a;
}

nav a:hover {
    color: #a52a2a;
}

nav a {
    text-decoration: none;
}
main {
    padding: 1px 20px 30px 20px;
    display: block;
    background-color: #FFFFFF;
    padding-left: 30px;
    overflow: auto;
}
h1 {
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0.5em;
    padding-bottom:0.25em;
    font-family: Georgia, 'Times New Roman', serif;
    letter-spacing: 0.25em;
}
h2 {
    color: #101112;
    text-shadow: 1px 1px #CCCCCC;
    font-family: Georgia, 'Times New Roman', serif;
}
h3 {
    color: #000033;
    font-family: Georgia, 'Times New Roman', serif;
}
main ul {
    list-style-image: url(marker.gif);
}
dt {
    color: #710000;
}
footer {
    font-size: 75%;
    font-style: italic;
    text-align: center;
    padding: 2em;
    font-family: Georgia, 'Times New Roman', serif;
    background-color: #FFFFFF;
}
.general {
    color: #030303;
    font-weight: bold;
}
#contact {
    font-size: 90%;
}
#homehero{
    height: 300px;
    background-image: url(baseball.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#teamhero{
    height: 300px;
    background-image: url(baseballteam.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#individual{
    height: 300px;
    background-image: url(baseballindividual.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

@media (max-width: 600px) {
  nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
  }

  nav li {
    border-bottom: none;
  }

  section{
    margin-left: 2em;
    margin-right: 2em;
    flex: 1;
  }

  .flow {
      display: flex;
      flex-direction: row;
  }

 }

 @media (min-width: 1024px) {
   #wrapper {
       margin: auto;
       width: 80%;
       border: 1px solid #002117;
       box-shadow: 3px 3px 3px #002117;
    }
    nav {
        text-align: left;
        padding-left: 1em;
    }
    @supports (display: grid) {
        nav ul {
            flex-direction: column;
            padding-top: 1em;
        }
        .hero {
            grid-area: hero;
        }
        header {
            grid-area: header;
        }
        nav {
            grid-area: nav;
        }
        main {
            grid-area: main;
        }
        footer {
            grid-area: footer;
        }
        #wrapper {
            display: grid;
            grid-template: "header header"
                            "nav hero"
                            "nav main"
                            "nav footer"
                            / 180px 1fr;
        }
    }
} 